@model Day8MVCDemo.Models.Category
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div>
    @* <form action="/Categories/Create" method="post"> *@
        @using(Html.BeginForm("Create","Categories",FormMethod.Post))
        {
        <fieldset>
            <legend>Category Create</legend>
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.Name)</td>
                    <td>@Html.TextBoxFor(m=>m.Name)</td>
                    @* <td>@Html.ValidationMessageFor(m=>m.Name)</td> *@
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Description)</td>
                    <td>@Html.TextBoxFor(m => m.Description)</td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" id="btnSubmit" value="Save" /></td>
                </tr>
            </table>
            @Html.ActionLink("Back To List","Index")
        </fieldset>
        }
   @*  </form> *@
</div>
